<form novalidate>
    <md-input-container>
        <label for="">Name</label>
        <input type="text" name="" data-ng-model="form.name">
    </md-input-container>

    <md-input-container>
        <label for=>Lastname</label>
        <input type="text" name="" data-ng-model="form.lastname">
    </md-input-container>

    <md-input-container>
        <label for="">Family</label>
        <input type="text" name="" data-ng-model="form.family">
    </md-input-container>

    <md-input-container>
        <label for="">Telephone</label>
        <input type="tel" name="" data-ng-model="form.telephone">
    </md-input-container>

    <md-input-container>
        <label for="">Email</label>
        <input type="email" name="" data-ng-model="form.email">
    </md-input-container>

    <md-input-container>
        <label for="">Age</label>
        <input type="number" name="" data-ng-model="form.age">
    </md-input-container>

    <md-input-container>
        <md-button data-ng-click="create_vm.create(form)">Create</md-button>
    </md-input-container>
</form>
